@{
    ViewData["Title"] = "Blockchain Voting App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Blockchain Voting App</h1>
    <p>Secure and transparent voting powered by blockchain technology.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="CreateVote">Crear una votación</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="AllVotes">Ver votaciones</a>
</div>

